*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #004662;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #D39C13;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; /* necessário para esconder as letras do menu */
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 250px;
    transition: .2s;
}

.logo-Postalis {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.logo-Postalis img {
    width: 55px; /* ajuste o tamanho */
    background: whitesmoke;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}


ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu:hover{
    background: #D39C13;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul li.item-menu{
    transition: .3s;
}

ul li.ativo{
    background-color: #D39C13;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .6s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 25px;
    margin-left: 10px;
}